<!-- 地图浏览页面 create by huqr /// controller:  'mapBrowseCtrl' -  localtion: App/Main/assets/js/controllers/mapBrowseCtrl.js -->
<div class="container-fluid container-fullw container-full-stretch" style="margin-top: 65px;" ng-controller="mapBrowseCtrl">
    <div style="padding: 5px; position: relative;">
        <!--面包屑-->
        <ol class="breadcrumb breadgreater" style="padding: 6px 15px 2px 15px; background-color: #fff;">
            <span translate="setting.thispage">当前位置：</span>
            <li><a href="/#/app/mapManager" style="color: #5b5b60;" translate="views.Map.List.mapManage">地图管理</a></li>
            <li ng-if="pageTitle===1" translate="views.Map.List.mapManage"></li>
            <li ng-if="pageTitle===2" translate="views.Map.mapBro.see"></li>
        </ol>

        <div class="righttag" style="top: 40%; right: 15px; border: 1px solid #007AFF; border-radius: 5px;">
            <div class="r-left" ng-click="showRightWin(1)" ng-if="currentData.pagetype==1" ng-class="{'active-show-btn':activeShowBtn===1}" style="color: #fff; padding: 10px 10px 8px 10px; cursor: pointer; border-top-left-radius: 5px; border-top-right-radius: 5px; " tooltip="{{'views.Map.mapBro.mapEdit'|translate}}">
                <i class="icon-dtbj" ng-style="qiehuanBorderStyle" style="font-size: 18px; border-bottom: 1px solid #007AFF;" />
            </div>
            <div class="r-left" ng-click="showRightWin(1)" ng-if="currentData.pagetype==2" ng-class="{'active-show-btn':activeShowBtn===1}" style="color: #fff; padding: 10px 10px 8px 10px; cursor: pointer; border-top-left-radius: 5px; border-top-right-radius: 5px; " tooltip="{{'views.Map.mapBro.mapDetail'|translate}}">
                <i class="icon-fuwu" ng-style="qiehuanBorderStyle" style="font-size: 18px; border-bottom: 1px solid #007AFF;" />
            </div>
            <div class="r-left" ng-click="showRightWin(2)" ng-class="{'active-show-btn':activeShowBtn===2}" style="color: #fff; padding: 10px 10px 8px 10px; cursor: pointer; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; " tooltip="{{'views.Map.mapBro.switch'|translate}}">
                <i class="icon-xinxi" style="font-size: 18px;" />
            </div>
        </div>

        <div class="righttag modal-content" ng-if="activeShowBtn===2" ng-style="choseServiceWinStyle" style="right: 59px; border-radius: 5px;">
            <div style="position: relative;">
                <div class="panel-heading border-bottom">
                    <span class="font-title-middle" style="margin-bottom: 0px;" translate="views.home.property.switchser.title">选择服务类型</span>
                    <a href="javascript:;" ng-click="closeMapWin()" style="font-size: 14px; float: right;" tooltip="{{ 'setting.close' | translate }}"><i class="ti-close"></i></a>
                </div>
                <div style="padding: 10px; max-width: 550px; overflow: auto;">
                    <dl ng-click="changeService(1)">
                        <dd><img src="/App/Main/assets/images/WMS.png" class="dd-img" ng-class="{'dd-active':1===mapServiceNum}" /></dd>
                        <dd style="padding-top: 10px;"><a href="javascript:;">WMS</a></dd>
                    </dl>
                    <dl ng-click="changeService(2)" style="margin-left: 6px;">
                        <dd><img src="/App/Main/assets/images/WMTS.png" class="dd-img" ng-class="{'dd-active':2===mapServiceNum}" /></dd>
                        <dd style="padding-top: 10px;"><a href="javascript:;">WMTS</a></dd>
                    </dl>
                    <dl ng-click="changeService(3)" style="margin-left: 6px;">
                        <dd><img src="/App/Main/assets/images/ite.png" class="dd-img" ng-class="{'dd-active':3===mapServiceNum}" /></dd>
                        <dd style="padding-top: 10px;"><a href="javascript:;">iTelluro</a></dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="righttag modal-content" ng-show="currentData.pagetype==2&&activeShowBtn===1" style="top: 40%; right: 59px; border-radius: 5px; width: 60%; max-width: 600px; min-height: 200px; ">
            <div style="position: relative;">
                <div class="panel-heading border-bottom">
                    <span class="font-title-middle" style="margin-bottom: 0px;" translate="views.home.property.detail.title">地图服务详细信息</span>
                    <a href="javascript:;" ng-click="closeMapWin()" style="font-size: 14px; float: right;" tooltip="{{ 'setting.close' | translate }}"><i class="ti-close"></i></a>
                </div>
                <div style="padding: 10px;">
                    <div class="col-sm-6" style="border-right: 1px solid #e5e5e5; padding-left: 0;">
                        <ul class="r-right-top" style="overflow: auto; margin-bottom: 0px !important; padding-left: 0; padding-right: 10px;">
                            <li>
                                <p>
                                    <span class="title font-title-small" style="border: none;">{{'views.home.property.detail.mapName'|translate}}:</span>
                                    <span>{{mapManageModal.mapName}}</span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span class="title font-title-small" style="border: none;">{{'views.home.property.detail.spatialRef'|translate}}:</span>
                                    <span>{{mapManageModal.spatialRefence}}</span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span class="title font-title-small" style="border: none;">{{'views.home.property.detail.description'|translate}}:</span>
                                    <span>{{mapManageModal.mapDesc}}</span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span class="title font-title-small" style="border: none;">{{'views.home.property.detail.class'|translate}}:</span>
                                    <span>{{mapManageModal.currentType}}</span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span class="title font-title-small" style="border: none;">{{'setting.owner'|translate}}:</span>
                                    <span>{{mapManageModal.createUserName}}</span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span class="title font-title-small" style="border: none;">{{'views.home.property.detail.East'|translate}}:</span>
                                    <span>{{mapManageModal.xy[2]}}</span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span class="title font-title-small" style="border: none;">{{'views.home.property.detail.South'|translate}}:</span>
                                    <span>{{mapManageModal.xy[1]}}</span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span class="title font-title-small" style="border: none;">{{'views.home.property.detail.West'|translate}}:</span>
                                    <span>{{mapManageModal.xy[0]}}</span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span class="title font-title-small" style="border: none;">{{'views.home.property.detail.North'|translate}}:</span>
                                    <span>{{mapManageModal.xy[3]}}</span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span class="title font-title-small" style="border: none;">{{'setting.tags.MAIN'|translate}}:</span>
                                    <span>{{mapManageModal.mapTag}}</span>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6" style="overflow: auto; padding-left: 20px;">
                        <div class="title">
                            <span class="font-title-small">
                                <span translate="views.home.property.detail.legend">图例</span>
                                <i style="position: absolute; right: 15px; cursor: pointer;" tooltip-placement="left" ng-click="lookPitcure(mapManageModal.mapLegend)" tooltip="{{ 'views.home.property.detail.see' | translate }}" class="ti-zoom-in"></i>
                            </span>
                        </div>
                        <div class="r-right-bottom" style="overflow: auto; max-height: 200px;">
                            <ul id="dowebok"><li><img ng-src="{{legend}}" alt="" /></li>  </ul>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>

        <!--地图管理页面左上角图层列表-->
        <div class="righttag" style="top: 100px; left: 25px; z-index: 1000; " ng-show="currentData.pagetype==1">
            <div style="position: relative; background-color: #fff; width: 330px; ">
                <div class="title">
                    <span class="font-title-middle">{{mapManageModal.mapName}}</span>
                    <a href="javascript:;" style="font-size: 18px; float: right; line-height: 1.2;" ng-click="editLayer()" tooltip="{{'views.Map.mapBro.bindLayer'|translate}}">
                        <i class="mdi mdi-plus"></i>
                    </a>
                </div>
                <div style="max-height: 400px; overflow: auto; padding: 10px;">
                    <ul class="font-content-small" style="list-style: none; padding: 0 0 0 10px; ">
                        <li style="margin-bottom: 5px;" ng-repeat="item in mapManageModal.mapManage_layers" ng-drop="true" ng-drop-success="dropComplete($index,$data)" ng-drag="true" ng-drag-data="item">
                            <div class="map-layer-list">
                                <label>{{item.dataConfigName}}</label>
                                <a href="javascript:;" ng-click="delLayer(item,$index)" tooltip="{{'views.Map.mapBro.delLayer'|translate}}" tooltip-append-to-body style="float: right; margin-left: 5px; z-index: 10;">
                                    <i class="mdi mdi-close" style="font-size: 18px;"></i>
                                </a>
                                <a ng-show="$index!=(mapManageModal.mapManage_layers.length-1)" ng-click="downLayer(mapManageModal.mapManage_layers,$index)" href="javascript:;" tooltip="{{'views.Map.create.downOne'|translate}}" style="float: right; margin: 0 5px; z-index: 10;">
                                    <i class="fa fa-long-arrow-down" style="font-size: 18px;"></i>
                                </a>
                                <a ng-show="$index!=0" ng-click="upLayer(mapManageModal.mapManage_layers,$index)" href="javascript:;" tooltip="{{'views.Map.create.upOne'|translate}}" style="float: right; margin: 0 5px; z-index: 10;">
                                    <i class="fa fa-long-arrow-up" style="font-size: 18px;"></i>
                                </a>
                            </div>
                            <ul style="list-style: none; padding-left: 15px; " ng-show="item.dataTypeName!=='影像'">
                                <li>
                                    <div>
                                        <div ng-show="!!item.dataStyleName" style="padding: 7px 0;">
                                            <a href="javascript:;" ng-click="mapManageModal.setStyle(item)">{{item.dataStyleName}}</a>
                                            <a href="javascript:;" ng-click="mapManageModal.delStyle(item.id,item.dataConfigID,item.dataSort)" style="float: right; z-index: 10;" tooltip="{{'views.Style.deleteStyle'|translate}}" tooltip-append-to-body>
                                                <i class="mdi mdi-close" style="font-size: 18px;"></i>
                                            </a>
                                            <a href="javascript:;" ng-click="mapManageModal.editStyle(item.dataStyleID)" style="float: right; margin-right: 5px; z-index: 10;" tooltip="{{'views.Style.EditStyle'|translate}}" tooltip-append-to-body>
                                                <i class="mdi mdi-pencil" style="font-size: 18px;"></i>
                                            </a>
                                        </div>
                                        <span ng-show="!item.dataStyleName" class="btn btn-primary btn-o" ng-click="mapManageModal.setStyle(item)" translate="views.Style.setStyle">设置样式</span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--地图浏览页面左上角图层列表-->
        <div class="righttag" style="top: 100px; left: 25px; z-index: 1000;" ng-if="currentData.pagetype==2&&isShowLayerCh">
            <div style="position: relative; background-color: #fff; width: 330px; ">
                <div class="title">
                    <span class="font-title-middle" translate="views.Map.mapBro.selectLayer">选择图层</span>
                    <a href="javascript:;" style="font-size: 18px; float: right; line-height: 1.2;" ng-click="hideChose()">
                        <i class="mdi" ng-class="{'mdi-arrow-up-drop-circle-outline':isShowChose,'mdi-arrow-down-drop-circle-outline':!isShowChose}"></i>
                    </a>
                </div>
                <div style="max-height: 140px; overflow: auto; padding: 10px;" ng-if="isShowChose">
                    <div style="border-bottom: 1px solid #ddd; padding-bottom: 5px;">
                        <div class="checkbox clip-check check-primary checkbox-inline">
                            <input type="checkbox" id="ch1" value="1" ng-checked="choseLayerModel.ischecked1" ng-click="choseLayerModel.checkedAll()">
                            <label class="font-content-small" for="ch1" translate="views.Map.mapBro.choseAll">
                                全选
                            </label>
                        </div>
                    </div>

                    <div style="overflow: auto;">
                        <div class="checkbox clip-check check-primary check-column" ng-repeat="a in choseLayerModel.layerData">
                            <input type="checkbox" id="{{a.dataConfigID}}" value="{{a.dataConfigName}}" ng-checked="a.ischecked" ng-click="choseLayerModel.checkedOne(a)">
                            <label class="font-content-small" for="{{a.dataConfigID}}">
                                {{a.dataConfigName}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--地图浏览页面左上角地图查询结果列表-->
        <div class="righttag" style="top: 150px; left: 25px;" ng-if="isShowRes&&currentData.pagetype==2">
            <div style="position: relative; background-color: #fff; width: 330px; ">
                <div class="panel-heading border-bottom">
                    <span class="font-title-middle" translate="views.Map.mapBro.searchResult">查询结果</span>
                    <a href="javascript:;" style="font-size: 18px; float: right; line-height: 1.2;" ng-click="closeRes()">
                        <i class="mdi-close"></i>
                    </a>
                </div>
                <div style="max-height: 140px; overflow: auto; padding: 10px;">
                    <abn-tree class="font-title-little" tree-data="layerTreeData" selected-data="selectedLayer" on-select="onLayerSelected" return-ctrl="returnCtrl" tree-control="treeQueryCtrl" icon-leaf=""></abn-tree>
                </div>
                <div style="border-top: solid 1px #EEEEEE;">
                    <div style="padding: 0 10px;">
                        <label class="title font-title-little" style="border: none;" translate="views.Map.mapBro.position">位置:</label>
                        <span>{{location}}</span>
                    </div>
                    <div style="padding: 10px;">
                        <table class="table table-bordered font-content-small">
                            <thead style="display: table; width: 100%; table-layout: fixed;">
                                <tr>
                                    <th style="width: 102px;" translate="views.Layer.create.newField.fieldName">字段名称</th>
                                    <th translate="views.Map.mapBro.attrs">属性值</th>
                                </tr>
                            </thead>
                            <tbody style="display: block; width: 100%; overflow: auto; max-height: 200px;">
                                <tr ng-repeat="(a,b) in layerTableData">
                                    <td style="width: 102px;">{{a}}</td>
                                    <td style="width: 199px; word-break: break-all;">{{b}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <span class="font-content-small">
                            <span translate="views.Map.mapBro.showDataNum1">共查出</span>{{dataNum}}<span translate="views.Map.mapBro.showDataNum2">条数据。</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <open-maps dataset="mapDataset" map-tool-group map-search-tool="mapSearchTool" mapheight="mapheight" mapwidth="mapwidth" get-extent="getExtent" add-tagging="addTagging" measure-before="measuremapBefore"
                   measuremap="measuremap" measure-after="measuremapAfter" clear-after="clearAfter" add-layer="addLayer"
                   remove-layer="removeLayer" to-location="tolocation" map="mapObj" is-load-internet-tian-di-tu="isLoadTianDiTu"></open-maps>
    </div>

    <!--‘地图管理’弹窗-->
    <mic-ui-modal popwinmodal="mapManageModal" open-popwin-fun="openMapManageFun" template-url="mapManage.html" submit-text="{{'setting.submit'|translate}}" cancel-text="{{'setting.cancel'|translate}}" popwin-title="mapManageModal.title" size="lg" win-class="mapmg-cls" backdrop="'static'" on-opened="mapManageModal.open" on-submit="mapManageModal.submit" on-cancel="mapManageModal.cancel">
    </mic-ui-modal>
    <script type="text/ng-template" id="mapManage.html">
        <div class="form-group" style="margin-top: 0 !important; padding: 10px 10px 0 10px;">
            <div style="margin-bottom: 10px;">
                <div class="col-sm-6">
                    <div class="col-sm-3">
                        <label class="font-title-little" style="padding-top: 6px;">
                            <span translate="views.Map.create.name">地图名称</span><span class="symbol required"></span>
                        </label>
                    </div>
                    <div class="col-sm-9" style="padding-right: 14px;">
                        <input type="text" style="width: 100%; height: 34px;" ng-model="popwinmodal.mapName" readonly ng-disabled="true" />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div style="float: right; width: 100%; padding-right: 10px;">
                        <div class="col-sm-3">
                            <label class="font-title-little" style="padding-top: 6px;">
                                <span translate="setting.owner">所有者</span><span class="symbol required"></span>
                            </label>
                        </div>
                        <div class="col-sm-9" style="padding-right: 14px;">
                            <input type="text" style="width: 100%; height: 34px;" ng-model="popwinmodal.createUserId" readonly ng-disabled="true" />
                        </div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>

            <div style="margin-bottom: 10px;">
                <div class="col-sm-6">
                    <div style="float: right; width: 100%;">
                        <div class="col-sm-3">
                            <label class="font-title-little" style="padding-top: 6px;">
                                <span translate="views.Layer.create.sr">空间参考</span><span class="symbol required"></span>
                            </label>
                        </div>
                        <div class="col-sm-9" style="padding-right: 14px;">
                            <input type="text" style="width: 100%; height: 34px;" ng-model="popwinmodal.spatialRefence" ng-disabled="true" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div style="float: right; padding-right: 10px; width: 100%;">
                        <div class="col-sm-3">
                            <label class="font-title-little" style="padding-top: 6px;">
                                <span translate="setting.class.MAIN">分类</span><span class="symbol required"></span>
                            </label>
                        </div>
                        <div class="col-sm-9" style="padding-right: 14px;">
                            <abn-tree class="typePullDownTreeData font-content-small" tree-data="popwinmodal.typePullDownTreeData" icon-leaf="" mic-combo-tree selected-data="popwinmodal.typePullDownTreeSelData" initial-selection="{{popwinmodal.currentType}}" on-select="popwinmodal.onSelected" expand-level="2" style="width: 100%;"></abn-tree>
                        </div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>

            <div style="margin-bottom: 10px;">
                <div class="col-sm-12">
                    <div style="float: right; padding-right: 10px; padding-left: 0px; width: 100%;">
                        <div class="col-sm-1">
                            <label class="font-title-little" style="padding-top: 6px;" translate="setting.tags.MAIN">标签</label>
                        </div>
                        <div class="col-sm-11" style="padding-left: 42px; padding-right: 15px;">
                            <div style="border: solid 1px rgba(200, 199, 204, 0.62);" class="taginput col-sm-12">
                                <span class="btn btn-default btn-xs datavalues ng-scope" ng-repeat="$item in popwinmodal.tagsList"
                                      style="font-size: 13px; line-height: 1.35; margin-right: 4px; margin-bottom: 3px; padding: 2px 4px;">
                                    <span class="close" style="line-height: 0.665432em;padding-left:4px;" ng-click="popwinmodal.delItems($item,$event)">×</span>
                                    <span class="cs-placeholder mtl ng-binding">{{$item}}</span>
                                </span>
                                <input class="mytagsfocus" type="text" placeholder="{{'setting.tags.tagPlacehold'|translate}}"
                                       ng-keydown="popwinmodal.keydown($event,popwinmodal.tagsInput)" ng-trim="true" ng-model="popwinmodal.tagsInput"
                                       style="background-color: #FFF !important; height: 34px; border: none; padding: 0; width:63%;" />
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>

            <div style="margin-bottom: 10px;">
                <div class="col-sm-12">
                    <div style="float: right; padding-right: 10px; padding-left: 0px; width: 100%;">
                        <div class="col-sm-1">
                            <label class="font-title-little" style="padding-top: 6px;" translate="views.Map.List.mapDesc">地图描述</label>
                        </div>
                        <div class="col-sm-11 addlayer-tag" style="padding-left: 42px; padding-right: 15px;">
                            <textarea class="col-sm-11" ng-model="popwinmodal.mapDes" style="width: 100%; height: 50px;"></textarea>
                        </div>

                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div style="clear: both;"></div>
            </div>

            <div style="margin-bottom: 10px;">
                <div class="col-sm-12">
                    <div style="float: right; padding-right: 10px; padding-left: 0px; width: 100%;">
                        <div class="col-sm-1">
                            <label class="font-title-little" style="padding-top: 6px;" translate="views.Map.mapBro.border.MAIN">边界范围</label>
                        </div>
                        <div class="col-sm-11" style="padding-left: 42px; padding-right: 15px;">

                            <div class="col-sm-6" style="padding-left: 0; padding-bottom: 10px;">
                                <span style="padding-right: 5px;" translate="views.Map.mapBro.border.minX">最小X</span>
                                <input type="text" ng-model="popwinmodal.xy[0]" style="height: 34px;" ng-disabled="true" />
                            </div>
                            <div class="col-sm-6" style="padding-left: 0; padding-bottom: 10px;">
                                <span style="padding-right: 5px;" translate="views.Map.mapBro.border.minY">最小Y</span>
                                <input type="text" ng-model="popwinmodal.xy[1]" style="height: 34px;" ng-disabled="true" />
                            </div>
                            <div class="col-sm-6" style="padding-left: 0; padding-bottom: 10px;">
                                <span style="padding-right: 5px;" translate="views.Map.mapBro.border.maxX">最大X</span>
                                <input type="text" ng-model="popwinmodal.xy[2]" style="height: 34px;" ng-disabled="true" />
                            </div>
                            <div class="col-sm-6" style="padding-left: 0; padding-bottom: 10px;">
                                <span style="padding-right: 5px;" translate="views.Map.mapBro.border.maxY">最大Y</span>
                                <input type="text" ng-model="popwinmodal.xy[3]" style="height: 34px;" ng-disabled="true" />
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </script>

    <!--绑定图层弹窗-->
    <mic-ui-modal popwinmodal="layerManageModal" open-popwin-fun="editLayerModel" template-url="editLayer.html" submit-text="{{'setting.submit'|translate}}" cancel-text="{{'setting.cancel'|translate}}" popwin-title="layerManageModal.title" size="lg" win-class="layerManaWinCls" backdrop="'static'" on-opened="layerManageModal.open" on-submit="layerManageModal.submit" on-cancel="layerManageModal.cancel">
    </mic-ui-modal>
    <script type="text/ng-template" id="editLayer.html">
        <!-- 表单内容 ---start--- -->
        <div class="form-group">
            <div class="col-sm-8 container-col-stretch" style="padding: 10px !important; border: 1px solid #e5e5e5;">
                <div class="col-sm-5 container-col-stretch">
                    <div class="panel panel-white panel-bottom0">
                        <div class="panel-heading panel-head border-bottom">
                            <span class="font-title-middle" translate="views.Layer.Query.MAIN">查询条件</span>
                        </div>
                        <div class="panel-body panel-fixed self_bottom">
                            <div style="padding-bottom: 10px;">
                                <tabset type="roundline" justified="true" class="tabbable" no-tab-content>
                                    <tab class="font-content-middle" heading="{{'views.Layer.Query.class.MAIN'|translate}}" select="popwinmodal.selectTab(true)"></tab>
                                    <tab class="font-content-middle" heading="{{'views.Layer.Query.tag.MAIN'|translate}}" select="popwinmodal.selectTab(false)"></tab>
                                </tabset>
                                <div style="height: 349px; overflow-y: auto;">
                                    <div ng-show="!!popwinmodal.showtab">
                                        <abn-tree class="font-title-btn" icon-leaf="" tree-data="popwinmodal.typeTreeData" initial-selection="{{popwinmodal.typeTreeData[0].label}}" expand-level="2" selected-data="popwinmodal.typeSelected" on-select="popwinmodal.onTypeSelected" tree-control="popwinmodal.typeTreeQueryCtrl"></abn-tree>
                                    </div>
                                    <div ng-show="!popwinmodal.showtab">
                                        <abn-tree class="font-title-btn" icon-leaf="" tree-data="popwinmodal.tagTreeData" expand-level="2" selected-data="popwinmodal.tagSelected" on-select="popwinmodal.onTagSelected" tree-control="popwinmodal.tagTreeQueryCtrl"></abn-tree>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-7 container-col-stretch" style="padding-left:10px !important;">
                    <input type="text" style="height: 34px; width: 214px; margin:0 10px 10px 0;" ng-model="popwinmodal.layerName" />
                    <span class="btn btn-primary btn-o font-title-little" ng-click="popwinmodal.searchLayerByName()" translate="views.Layer.List.search">搜索</span>
                    <mic-data-tables class="layerClass form-table-checkbox font-content-small" checkable checked-data="popwinmodal.checkedDataF" pageing="popwinmodal.pageing"
                                     on-page-change="popwinmodal.pageChanged" table-bordered tbody-height="373" thead="{{'views.Layer.create.name'|translate}}" on-td-checked="popwinmodal.onTdChecked" on-th-checked="popwinmodal.onThChecked"
                                     td-params="{'layerName':{'type':'span','isclick':false,'isedit':false}}" datasets="popwinmodal.layerFrom"></mic-data-tables>
                </div>
            </div>

            <div class="col-sm-4" style="padding: 0 10px;">
                <div class="col-sm-12 container-col-stretch" style="border: 1px solid #e5e5e5;">
                    <div class="panel-heading panel-head border-bottom">
                        <span class="font-title-middle" translate="views.Map.toLayer.associatedLayer">已选中的图层列表</span>
                    </div>
                    <div class="panel-body panel-fixed self_bottom" style="padding: 10px;">
                        <mic-data-table class="form-table-checkbox font-content-small" table-bordered tbody-height="406" thead="{{'views.Layer.create.name'|translate}}"
                                        td-params="{'layerName':{'type':'span','isclick':false,'isedit':false}}" table-btn-params="popwinmodal.tabBtnParams"
                                        table-btn-html="[{'name': '删除','text':'','icon':'ti-close'}]"
                                        datasets="popwinmodal.layerTo"></mic-data-table>
                    </div>
                </div>
            </div>
        </div>
        <!-- 表单内容 ---end--- -->
    </script>

    <!--'设置样式'-->
    <mic-ui-modal popwinmodal="styleModal" open-popwin-fun="opensStyleModal" template-url="setStyle.html" submit-text="{{'setting.submit'|translate}}" cancel-text="{{'setting.cancel'|translate}}" popwin-title="styleModal.title" size="lg" on-opened="styleModal.open" on-submit="styleModal.submit" on-cancel="styleModal.cancel">
    </mic-ui-modal>
    <script type="text/ng-template" id="setStyle.html">
        <div class="form-group" style="padding: 10px 20px; height: 551px;">
            <div class="col-sm-4" style="padding-left: 0; padding-right: 6px; max-height: 550px; overflow: auto;">
                <abn-tree class="font-title-btn" tree-data="popwinmodal.styleTypeTreeData" icon-leaf="" selected-data="popwinmodal.styleTypeSelected" on-select="popwinmodal.onStyleTypeSelected" tree-control="styleTypeTreeQueryCtrl" initial-selection="{{'views.Layer.Query.class.all'|translate}}"></abn-tree>
            </div>
            <div class="col-sm-8">
                <div style=" padding-left: 0; margin-bottom: 20px;">
                    <input type="text" ng-model="popwinmodal.searchStyleText" placeholder="{{'views.Style.SearchTips'|translate}}" style="width: 250px; height: 34px;" />
                    <a class="btn btn-wide btn-default btn-o font-title-little" href="javascript:;" style="min-width: 70px; margin-left: 10px; margin-top: -3px;" ng-click="popwinmodal.searchStyle()" translate="views.Layer.List.search">
                        搜索
                    </a>
                    <a class="btn btn-primary btn-o font-title-little" href="javascript:;" style="min-width: 70px; float: right;" ng-click="popwinmodal.addStyle()" translate="views.Style.NewStyle">
                        新增样式
                    </a>
                </div>
                <div>
                    <table class="table table-bordered table-hover table-stylemanag font-content-small">
                        <thead>
                            <tr>
                                <th style="width: 43px;"></th>
                                <th style="width: 47px;" translate="topbar.notification.serialnumber">序号</th>
                                <th translate="views.Style.Name">样式名称</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tr in popwinmodal.styleData">
                                <td>
                                    <input type="checkbox" ng-model="tr.checked" ng-change="popwinmodal.choiceTR(tr)" />
                                </td>
                                <td>{{$index+1}}</td>
                                <td>{{tr.styleName}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="height: 30px;">
                        <pagination style="float: left; margin: 0 !important;" first-text="{{'paging.home'|translate}}" previous-text="{{'paging.previous'|translate}}" next-text="{{'paging.next'|translate}}" last-text="{{'paging.last'|translate}}" items-per-page="popwinmodal.pageSize"
                                    total-items="popwinmodal.pageCounts" ng-model="popwinmodal.pageIndex" max-size="popwinmodal.maxSize" class="pagination-sm"
                                    boundary-links="true" boundary-go="true" rotate="false" num-pages="popwinmodal.totalPages" ng-change="popwinmodal.pageChanged()"></pagination>
                        <ul class="pagination" style="float: left; margin: 0 !important;">
                            <li><input type="text" style="margin-left: 10px; float: left; width: 40px; border-radius: 4px !important;" ng-model="popwinmodal.goPage" ng-keydown="popwinmodal.pageChanged(popwinmodal.goPage,$event)" /></li>
                            <li><a style="padding: 4px 10px;" ng-click="popwinmodal.pageChanged(popwinmodal.goPage)">GO</a></li>

                        </ul>
                        <div style="clear: both; height: 10px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </script>

</div>