<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="1" version="1.0.0" targetFramework="net452" />
  <package id="Abp" version="0.10.0.1" targetFramework="net452" />
  <package id="Abp.EntityFramework" version="0.10.0.2" targetFramework="net452" />
  <package id="Abp.EntityFramework.Common" version="0.10.0.1" targetFramework="net452" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="Castle.LoggingFacility" version="3.3.0" targetFramework="net452" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net452" />
  <package id="dotConnect.Express.for.PostgreSQL" version="7.10.1152" targetFramework="net452" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net452" />
  <package id="EntityFramework.DynamicFilters" version="1.4.11" targetFramework="net452" />
  <package id="EntityFramework6.Npgsql" version="3.1.1" targetFramework="net452" />
  <package id="jQuery" version="2.1.1" targetFramework="net452" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net452" />
  <package id="MySql.Data.Entity" version="6.9.9" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net452" />
  <package id="Npgsql" version="3.1.2" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess" version="12.1.021" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="12.1.021" targetFramework="net452" />
  <package id="SampleDependency" version="1.0.0" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.2.0" targetFramework="net452" />
</packages>