@{
    ViewBag.Title = "Index";
}

<div class="layui-body" id="LAY_app_body">
    <div  class="layadmin-tabsbody-item layui-show">
        <iframe id="conent-iframe" src="@Url.Action("main")" frameborder="0" class="layadmin-iframe"></iframe>
    </div>
</div>