@{
    ViewBag.Title = "样式管理";
    Layout = "~/Views/Shared/_MainContentLayout.cshtml";
}

<div class="layui-fluid" id="LAY-component-grid-mobile-pc">
    <div class="layui-row layui-col-space12">
        <div class="layui-col-xs12 layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">样式管理</div>
                <div class="layui-card-body">
                    <form class="layui-form" action="" lay-filter="basic-form">
                        <div class="layui-form-item" style="padding-right:10px;">
                            <div class="layui-col-lg4 layui-col-md4 layui-col-sm4 layui-col-xs4">
                                <label class="layui-form-label">样式名称：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="stylename" id="stylename" placeholder="" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-col-lg4 layui-col-md4 layui-col-sm4 layui-col-xs4">
                                <label class="layui-form-label">样式类型：</label>
                                <div class="layui-input-block">
                                    <select lay-filter="styledatatype" id="styledatatype" name="styledatatype" class="layui-input">
                                        <option value="">样式类型</option>
                                        <option value="6b6941f1-67a3-11e7-8eb2-005056bb1c7e">点</option>
                                        <option value="7776934c-67a3-11e7-8eb2-005056bb1c7e">线</option>
                                        <option value="a2758dc0-67a3-11e7-8eb2-005056bb1c7e">面</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-col-lg4 layui-col-md4 layui-col-sm4 layui-col-xs4">
                                <label class="layui-form-label">创建人：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="createby" id="createby" placeholder="" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="layui-form-item" style="padding-right:10px;">
                        <div class="layui-col-lg4 layui-col-md4 layui-col-sm4 layui-col-xs4">
                            <label class="layui-form-label">创建时间：</label>
                            <div class="layui-input-block">
                                <input type="text" name="createdt" id="createdt" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-col-lg8 layui-col-md8 layui-col-sm8 layui-col-xs8" style="text-align:right;">
                            <button class="layui-btn" data-type="reload" onclick="initGrid()">搜索</button>
                        </div>
                    </div>
                    <div class="layui-card-body" style="overflow-x:hidden">
                        <table class="layui-hide" id="list-table" lay-filter="list-table"></table>
                        <script type="text/html" id="list-table-toolbar">
                            <div class="layui-btn-group">
                                <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="addStyle('新增')"><i class="layui-icon"></i>新增</button>
                                <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="editStyle('编辑')"><i class="layui-icon"></i>编辑</button>
                                <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="removeStyle()"><i class="layui-icon"></i>删除</button>
                                @*<button style="margin-left:10px" class="layui-btn layui-btn-primary layui-btn-sm" onclick="resetPassword()"><i class="layui-icon">&#xe673;</i>重置密码</button>*@
                            </div>

                            <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="initGrid()"><i class="layui-icon">&#xe9aa;</i>刷新</button>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section script{
    <script>
        var table;
        var admin;
        var tree;

        var currentUser = '';
        layui.initModule(['form', 'table', 'laydate'],
            function() {
                var form = layui.form;
                admin = layui.admin;
                table = layui.table;
                var laydate = layui.laydate;

                initGrid();

                laydate.render({
                    elem: '#createdt',
                    type: 'datetime',
                    range: LangConfig.CommonText.to,
                    format: 'yyyy-MM-dd HH:mm:ss',
                    lang: '@UserConfigContext.CurrentLang'
                });
            })


        function initGrid() {
            currentUser = null;
            layui.initGird({
                id: "list-table",
                elem: '#list-table',
                url: Base.getApiUrl("/SystemManage/GetDataStylePageListByCondition"),
                title: '文件包列表',
                cols: [
                    [
                        { type: 'checkbox', fixed: 'left', event: 'setSign' }, { field: 'Id', hide: true },
                        { field: 'StyleName', title: '样式名称' }, { field: 'StyleContent', title: '样式内容', hide: true },
                        { field: 'StyleType', title: '样式分类', align: 'center', hide: true }, {
                            field: 'StyleDataType',
                            title: '样式类型',
                            align: 'center',
                            templet: function(d) {
                                if (d.StyleDataType == "6b6941f1-67a3-11e7-8eb2-005056bb1c7e") {
                                    return "点";
                                } else if (d.StyleDataType == "7776934c-67a3-11e7-8eb2-005056bb1c7e") {
                                    return "线";
                                } else if (d.StyleDataType == "a2758dc0-67a3-11e7-8eb2-005056bb1c7e") {
                                    return "面";
                                } else {
                                    return d.StyleDataType;
                                }
                            }
                        }, { field: 'StyleConfigType', title: '样式配置类型', align: 'right', hide: true }, {
                            field: 'CreateDT',
                            title: '创建日期',
                            align: 'center',
                            templet: function(d) {
                                return Base.Converter.dateTime(d.CreateDT);
                            }
                        }, { field: 'CreateBy', title: '创建人', align: 'center' },
                        { field: 'StyleDefaultLayer', title: '默认图层', hide: true },
                        { field: 'StyleRenderField', title: '样式渲染字段', hide: true },
                        { field: 'StyleRenderColorBand', title: '样式渲染颜色带名称', align: 'center', hide: true },
                        { field: 'StyleRenderRule', title: '样式渲染规则', hide: true },
                                                { field: 'StyleDesc', title: '样式描述' }
                    ]
                ],
                method: "get",
                where: $.extend({
                        StyleName: $("#stylename").val(),
                        StyleDataType: $("#styledatatype").val(),
                        Createby: $("#createby").val()
                    },
                    getTimeRange()),
                toolbar: '#list-table-toolbar'
            });


            //监听行单击事件
            table.on('row(list-table)',
                function(obj) {
                    currentUser = obj.data
                });

            table.on('rowDouble(list-table)',
                function(obj) {
                    currentUser = obj.data
                    editStyle('编辑')
                });
        }

        function getTimeRange() {
            var value = $("#createdt").val();
            if (!value) {
                return {
                    StartDate: '',
                    EndDate: ''
                };
            }

            var valuePart = value.split(LangConfig.CommonText.to);
            return {
                StartDate: valuePart[0],
                EndDate: valuePart[1]
            };
        }

        function addStyle(action) {
            openDlg(action, '');
        }

        function openDlg(action, id) {
            layui.showDlg({
                title: action + "数据",
                content: '@Url.Action("AddOrEditStyleManager")?id=' + id,
                area: ['40%', '95%'],
                yes: function(index, layero) {
                    var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法
                    iframeWin.doSubmit();
                }
            });
        }

        function editStyle(action) {
            if (!currentUser) {
                alert('请选择数据');
                return;
            }

            openDlg(action, currentUser.Id);
        }

        function removeStyle() {

            var ids = getCheckedIds();
            if (ids.length == 0) {
                alert('请选择数据');
                return;
            }
            confirm('是否删除',
                function() {
                    $.post({
                        url: Base.getApiUrl("/SystemManage/RemoveStyle"),
                        data: { "": ids.join(",") },
                        success: function(resp) {
                            debugger
                            if (resp.code == 0) {
                                initGrid();
                                layer.closeAll();
                            } else if (resp.code == -200) {
                                alert(resp.message);
                                return;
                            }
                        },
                        erroe: function(a, b, c) {
                            debugger
                        }
                    })
                });
        }

        function getCheckedIds() {
            return layui.Grid.getCheckedIds('list-table');
        }
    </script>
}