@{
    ViewBag.Title = "增加或编辑用户";
    Layout = "~/Views/Shared/_MainContentLayout.cshtml";
}

@*<h2>坐标转换_7参数设置弹出框</h2>*@


<div class="layui-fluid" style="padding:0px">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table class="layui-table">
                        <colgroup>
                            <col width="150">
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>参数名称</th>
                                <th>参数值</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>平移变量Dx(米)</td>
                                <td><input type="text" name="identity" lay-verify="identity" placeholder="" autocomplete="off" class="layui-input"></td>
                            </tr>
                            <tr>
                                <td>平移变量Dy(米)</td>
                                <td><input type="text" name="identity" lay-verify="identity" placeholder="" autocomplete="off" class="layui-input"></td>
                            </tr>
                            <tr>
                                <td>平移变量Dz(米)</td>
                                <td><input type="text" name="identity" lay-verify="identity" placeholder="" autocomplete="off" class="layui-input"></td>
                            </tr>
                            <tr>
                                <td>
                                    旋转变量X(秒)
                                </td>
                                <td><input type="text" name="identity" lay-verify="identity" placeholder="" autocomplete="off" class="layui-input"></td>
                            </tr>
                            <tr>
                                <td>旋转变量Y(秒)</td>
                                <td><input type="text" name="identity" lay-verify="identity" placeholder="" autocomplete="off" class="layui-input"></td>
                            </tr>
                            <tr>
                                <td>旋转变量Z(秒)</td>
                                <td><input type="text" name="identity" lay-verify="identity" placeholder="" autocomplete="off" class="layui-input"></td>
                            </tr>
                            <tr>
                                <td>缩放比(ppm)</td>
                                <td><input type="text" name="identity" lay-verify="identity" placeholder="" autocomplete="off" class="layui-input"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>