@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_MainContentLayout.cshtml";
}
@section css
{
    <style>
        .layui-form-item .layui-input-inline {
         width:500px !important;
        }
    </style>
 }
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">修改密码</div>
                <div class="layui-card-body" pad15="">

                    <div class="layui-form" lay-filter="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">当前密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="oldpassword" lay-verify="required" lay-vertype="tips" class="layui-input" autocomplete="off">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="password" lay-verify="pass" lay-vertype="tips" autocomplete="off" id="LAY_password" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">确认新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="repassword" lay-verify="repass" lay-vertype="tips" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="setmypass" onclick="updatePassword()">确认修改</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section script{
    <script type="text/javascript">
        var currentUserName = '@UserIdentityContext.CurrentUserName';
        layui.initModule([],
            function () {

            })


        function updatePassword() {





            var oldpassword = $(".layui-form").find("input[name='oldpassword']").val();
            var password = $(".layui-form").find("input[name='password']").val();
            var repassword = $(".layui-form").find("input[name='repassword']").val();

            if (!oldpassword) {
                alert("当前密码不能为空！");
                $(".layui-form").find("input[name='oldpassword']").focus();
                return;
            }

            if (!password) {
                alert("新密码不能为空！");
                $(".layui-form").find("input[name='password']").focus();
                return;
            }

            if (!repassword) {
                alert("确认新密码不能为空！");
                $(".layui-form").find("input[name='repassword']").focus();
                return;
            }

            if (oldpassword == password) {
                alert("当前密码和新密码不能相同，请检查！");
                $(".layui-form").find("input[name='password']").focus();
                return;
            }

            if (password != repassword) {
                alert("新密码和确认新密码不一致，请检查！");
                $(".layui-form").find("input[name='repassword']").focus();
                return;
            }

            $.get({
                url: Base.getApiUrl("/Account/GetChangePassword"),
                data: {
                    oldpassword: oldpassword,
                    password: password,
                    repassword: repassword,
                    currentUserName: currentUserName
                },
                success: function (resp) {
                    if (resp.code == -200) {
                        alert(resp.data);
                    } else {
                        //墨绿深蓝风
                        layer.alert(resp.data, function () {
                            top.location.href = "@Url.Action("logout", "account")";
                        });

                    }
                },
                error: function (resp) {
                    alert(resp.message);
                }
            })
        }
    </script>
}