<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <entityFramework>
    <!--sqlserver-->
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />-->
    <!--oracle-->
    <!--<defaultConnectionFactory type="Oracle.ManagedDataAccess.EntityFramework.OracleConnectionFactory,Oracle.ManagedDataAccess.EntityFramework,Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />-->
    <!--mysql-->
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <!--sqlserver-->
      <!--<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />-->
      <!--oracle-->
      <!--<provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />-->
      <!--mysql-->
      <!--<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />-->
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Default" connectionString="Server=192.168.1.63;Port=5432;Database=gisdatamanage1;User Id=postgres;Password=123456;" providerName="Npgsql" />
  </connectionStrings>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="HangfireIp" value="localhost:8599" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LogFilePath" value="D:\Projects\空间数据管理系统\DataManagementAndServicePlatform\Web\newframe\InfoEarthFrame.Web\Log\" />
    <add key="LogFilePath" value="D:\Projects\空间数据管理系统\DataManagementAndServicePlatform\Web\newframe\InfoEarthFrame.Web\Log\" />
    <add key="LogFilePath" value="D:\new\空间数据库代码\Web\SpaceData\InfoEarthFrame.WebApi.Next\Log\" />
    <add key="AreaRightFilter" value="true" />
    <add key="UploadFilePath" value="D:\Projects\空间数据管理系统\DataManagementAndServicePlatform\Web\newframe\InfoEarthFrame.Web\UploadFile\" />
    <add key="UploadFilePath" value="D:\Projects\空间数据管理系统\DataManagementAndServicePlatform\Web\newframe\InfoEarthFrame.Web\UploadFile\" />
    <add key="UploadFilePath" value="D:\new\空间数据库代码\Web\SpaceData\InfoEarthFrame.WebApi.Next\UploadFile\" />
    <add key="DownloadFile" value="DownloadFile" />
    <add key="IsAutoCache" value="0" />
    <add key="TranslateFilePath" value="Data\Translate.xml" />
    <add key="SpatialRefence" value="GCS_Xian_1980" />
    <add key="SpatialRefenceFile" value="Xian 1980" />
    <add key="EPSG" value="EPSG:4326" />
    <!--<add key="Map2ShpPath" value="C:\Map2Shp专业版\" />
    <add key="CoordPath" value="C:\Coordinate Systems\" />-->
    <!--<add key="ConvertExprotPath" value="D:\Projects\空间数据管理系统\DataManagementAndServicePlatform\Web\newframe\InfoEarthFrame.Web\TempFile\" />-->
    <!--<add key="Map2ShpPath" value="C:\Map2Shp专业版\" />
    <add key="CoordPath" value="C:\Coordinate Systems\" />-->
    <!--<add key="ConvertExprotPath" value="D:\Projects\空间数据管理系统\DataManagementAndServicePlatform\Web\newframe\InfoEarthFrame.Web\TempFile\" />-->
    <add key="Map2ShpPath" value="C:\Map2Shp专业版\" />
    <add key="CoordPath" value="C:\Coordinate Systems\" />
    <add key="ConvertExprotPath" value="D:\new\空间数据库代码\Web\SpaceData\InfoEarthFrame.WebApi.Next\TempFile\" />
    <add key="ShpFileExportPath" value="LayerShpFileExport" />
    <add key="ThumbnailPath" value="D:\Projects\空间数据管理系统\DataManagementAndServicePlatform\Web\newframe\InfoEarthFrame.Web\Thumbnail" />
    <add key="ThumbnailPath" value="D:\Projects\空间数据管理系统\DataManagementAndServicePlatform\Web\newframe\InfoEarthFrame.Web\Thumbnail" />
    <add key="ThumbnailPath" value="D:\new\空间数据库代码\Web\SpaceData\InfoEarthFrame.WebApi.Next\Thumbnail" />
    <add key="DataCheckExtension" value=".shp" />
    <add key="DataBase" value="MySQL:74221aec-67a9-11e7-8eb2-005056bb1c7e" />
    <add key="PostGIS" value="Server=192.168.1.63;Port=5432;User Id=postgres;Password=123456;Database=gisdatamanage1" />
    <add key="isLoadTianDiTu" value="0" />
    <add key="zoomlevel" value="14" />
    <add key="dataserverkey" value="天地图地图S" />
    <add key="mapUrl" value="http://192.168.100.18:8088/iTelluro.Server.TianDiTu/Service/DOM/dom.ashx" />
    <add key="tilesize" value="512" />
    <add key="zerolevelsize" value="36" />

    <add key="GeoServerIp" value="127.0.0.1" />
    <add key="GeoServerPort" value="8080" />
    <add key="GeoServerUser" value="admin" />
    <add key="GeoServerPwd" value="geoserver" />
    
    <add key="GeoWms" value="wms" />
    <add key="GeoWorkSpace" value="gisdatamanage1" />
    <add key="GeoDataStore" value="dbgisdatamanage1" />
    <add key="PostGisHost" value="192.168.1.63" />
    <add key="PostGisPort" value="5432" />
    <add key="PostGisDB" value="gisdatamanage1" />
    <add key="PostGisUser" value="postgres" />
    <add key="PostGisPwd" value="123456" />
    <add key="PublishAddress" value="192.168.1.63:8011" />
    <add key="GridSetName" value="iTelluro,EPSG:4326" />
    <add key="ZoomStart" value="0" />
    <add key="ZoomStop" value="14" />
    <add key="ZoomStopSecond" value="14" />
    <add key="ThreadCount" value="1" />
    <add key="EchartColorsBlue" value="#0065FF,#1f78FF,#3d8aFF,#77adFF,#9ac2FF,#c0d6FF" />
    <add key="EchartColorsGreen" value="#118978,#29A593,#3CCEAA,#57DEBD,#7EE8CE,#AFF3e2" />
    <add key="GISTolerance" value="0.002" />
    <add key="administrator" value="admin:infoearth" />
    <add key="AreaFilePath" value="Data\Area.xml" />
    <add key="TIFF_RemoveBackGroundColor" value="#FFFFFF" />
    <add key="LanguagePackFilePath" value="D:\Projects\空间数据管理系统\DataManagementAndServicePlatform\Web\newframe\InfoEarthFrame.Web\Data\Message.txt" />
    <add key="LanguagePackFilePath" value="D:\Projects\空间数据管理系统\DataManagementAndServicePlatform\Web\newframe\InfoEarthFrame.Web\Data\Message.txt" />
    <add key="LanguagePackFilePath" value="D:\new\空间数据库代码\Web\SpaceData\InfoEarthFrame.WebApi.Next\Data\Message.txt" />
    <add key="Language" value="CN" />

    <!--消息队列配置信息-->
    <add key="MQServiceIp" value="127.0.0.1" />
    <!--用户名-->
    <add key="MQUserName" value="guest" />
    <!--密码-->
    <add key="MQPassWord" value="guest" />
    <!--虚拟主机名-->
    <add key="MQVirtualHost" value="DXSTask" />
    <!--消息头-->
    <add key="header" value="DXSTask" />

    <!--发布单位-->
    <add key="PublishUnit" value="中国地质调查局"/>
  </appSettings>

  <system.web>
    <identity impersonate="true"/>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.5"  maxRequestLength="2147483647"  />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      <remove invariant="Npgsql" />
      <add name="Npgsql" invariant="Npgsql" description=".Net Framework Data Provider for Postgresql" type="Npgsql.NpgsqlFactory, Npgsql" />
      <add name="dotConnect for PostgreSQL" invariant="Devart.Data.PostgreSql" description="Devart dotConnect for PostgreSQL" type="Devart.Data.PostgreSql.PgSqlProviderFactory, Devart.Data.PostgreSql, Version= 7.10.1152.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <security>
      <requestFiltering >
        <requestLimits maxAllowedContentLength="2147483647" ></requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ogr_csharp" publicKeyToken="db5a52b08dc5b321" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5184.21788" newVersion="1.0.5184.21788" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="gdal_csharp" publicKeyToken="db5a52b08dc5b321" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5184.21788" newVersion="1.0.5184.21788" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="osr_csharp" publicKeyToken="db5a52b08dc5b321" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5184.21788" newVersion="1.0.5184.21788" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="gdalconst_csharp" publicKeyToken="db5a52b08dc5b321" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5184.21788" newVersion="1.0.5184.21788" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>