<!-- 图层浏览页面 create by huqr /// controller:  'layerBrowseCtrl' -  localtion: App/Main/assets/js/controllers/layerBrowseCtrl.js -->
<div class="container-fluid container-fullw container-full-stretch" style="margin-top: 65px;" ng-controller="layerBrowseCtrl">
    <div style="padding: 5px; position: relative;">
        <!--面包屑-->
        <ol class="breadcrumb breadgreater" style="padding: 6px 15px 2px 15px; background-color: #fff;">
            <span translate="setting.thispage">当前位置：</span>
            <li><a href="/#/app/layerManager" style="color: #5b5b60;" translate="views.Layer.layerBro.manage">图层管理</a></li>
            <li ng-if="pageTitle===1" translate="views.Layer.layerBro.manage"></li>
            <li ng-if="pageTitle===2" translate="views.Layer.layerBro.see"></li>
        </ol>

        <div class="righttag" style="top: 40%; right: 15px; border: 1px solid #007AFF; border-radius: 5px;">
            <div class="r-left" ng-click="showLayerDetail()" ng-show="currentData.pagetype==1" tooltip="{{'views.Layer.layerBro.rule'|translate}}" style="color: #fff; padding: 9px; cursor: pointer; border-radius: 5px;">
                <i class="icon-tcbj" style="font-size: 18px" />
            </div>
            <div class="r-left" ng-click="showLayerDetail()" ng-show="currentData.pagetype==2" tooltip="{{'views.Layer.layerBro.sheet'|translate}}" style="color: #fff; padding: 9px; cursor: pointer; border-radius: 5px;">
                <i class="icon-tcll" style="font-size: 18px" />
            </div>
        </div>
        
        <div class="righttag modal-content" ng-show="activeShowBtn===1&&currentData.pagetype=='2'" style="top: 10%; right: 57px; border-radius: 5px; width: 800px; min-height: 200px; ">
            <div style="position: relative;">
                <div class="panel-heading border-bottom">
                    <span class="font-title-middle" style="margin-bottom: 0px;" translate="views.Layer.layerBro.sheet">图层属性表</span>
                    <a href="javascript:;" ng-click="closeLayerWin()" style="font-size: 14px; float: right;" tooltip="{{'setting.close'|translate}}"><i class="ti-close"></i></a>
                </div>
                <div>
                    <tabset justified="true" type="underline">
                        <tab class="font-content-middle" heading="{{'views.Layer.layerBro.sheet'|translate}}">
                            <div class="popwin-top" style="">
                                <div class="" style="margin-bottom: 10px;">
                                    <div class="col-sm-6">
                                        <div style="float:right; width: 100%;">
                                            <div class="col-sm-3">
                                                <label class="font-title-little" style="padding-top: 6px;">{{'views.Layer.create.name'|translate}}<span class="symbol required"></span></label>
                                            </div>
                                            <div class="col-sm-9" style="padding-right: 14px;">
                                                <input type="text" style="width: 100%; height: 34px;" ng-model="layerParam.layerName" ng-disabled="true" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div style="float: right; padding-right: 10px; width: 100%;">
                                            <div class="col-sm-3">
                                                <label class="font-title-little" style="padding-top: 6px;">{{'views.Layer.create.type.MAIN'|translate}}<span class="symbol required"></span></label>
                                            </div>
                                            <div class="col-sm-9" style="padding-right: 14px;">
                                                <input type="text" ng-model="layerParam.dataTypeName" style="width: 100%;" ng-disabled="true" />
                                            </div>
                                        </div>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div class="" style="margin-bottom: 10px;">
                                    <div class="col-sm-6">
                                        <div style="float: right; width: 100%;">
                                            <div class="col-sm-3">
                                                <label class="font-title-little" style="padding-top: 6px;">{{'views.Layer.create.sr'|translate}}<span class="symbol required"></span></label>
                                            </div>
                                            <div class="col-sm-9" style="padding-right: 14px;">
                                                <input type="text" ng-model="layerParam.spatialRefData" style="width: 100%; height:34px;" readonly ng-disabled="true" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div style="float: right; padding-right: 10px; width: 100%;">
                                            <div class="col-sm-3">
                                                <label class="font-title-little" style="padding-top: 6px;">{{'setting.class.MAIN'|translate}}<span class="symbol required"></span></label>
                                            </div>
                                            <div class="col-sm-9" style="padding-right: 14px;">
                                                <input type="text" ng-model="layerParam.layerTypeName" style="width: 100%; height:34px;" readonly ng-disabled="true" />
                                            </div>
                                        </div>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div style="margin-bottom: 20px;">
                                    <div class="col-sm-12">
                                        <div style="float: right; padding-right: 10px; padding-left: 0; width: 100%;">
                                            <div class="col-sm-1">
                                                <label class="font-title-little" style="padding-top: 6px;">{{'setting.tags.MAIN'|translate}}</label>
                                            </div>
                                            <div class="col-sm-11" style="padding-left: 38px; ">
                                                <input type="text" ng-model="layerParam.tags" ng-disabled="true" style="height: 34px; width: 637px;" />
                                            </div>
                                        </div>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                                <div style="border-top: solid 1px rgba(0, 0, 0, 07);" ng-if="layerParam.uploadFileType!=2"></div>
                            </div>
                            <div class="popwin-body" style="" ng-if="layerParam.uploadFileType!=2">
                                <div style="padding: 0 10px 20px 10px;">
                                </div>
                                <div class="" style="overflow: auto;">
                                    <div style="width: 100%;">
                                        <mic-data-tables class="font-content-small" table-bordered tbody-height="200"
                                                        thead="{{'views.Layer.create.newField.fieldName'|translate}},{{'views.Layer.create.newField.datatype.MAIN'|translate}},{{'views.Layer.create.newField.length'|translate}},{{'views.Layer.create.newField.decimal'|translate}},{{'views.Layer.create.newField.description'|translate}}"
                                                        td-params="{'name':{'type':'span','isclick':false},'dataType':{'type':'span','isclick':false},'length':{'type':'span','isclick':false},'decimal':{'type':'span','isclick':false},'describe':{'type':'span','isclick':false}}"
                                                        datasets="layerParam.tableData"
                                                        table-btn-html="[{'name':'详情','text':'','icon':'ti-eye'}]" table-btn-params="layerParam.tabBtnParam2">
                                        </mic-data-tables>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab class="font-content-middle" heading="{{'views.Layer.layerBro.records'|translate}}">
                            <div class="table-responsive" style="padding: 0 20px 10px 20px; max-height: 300px;">
                                <table class="table">
                                    <thead class="addlayer-table-head font-title-small">
                                        <tr>
                                            <th style="width: 80px;">{{'topbar.notification.serialnumber'|translate}}</th>
                                            <th>{{'views.Layer.layerBro.type'|translate}}</th>
                                            <th>{{'views.Layer.layerBro.time'|translate}}</th>
                                            <th>{{'topbar.notification.import.status'|translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody class="addlayer-table-body font-content-small">
                                        <tr ng-repeat="tr in layerParam.fileImportData">
                                            <td style="width: 80px;">{{$index+1}}</td>
                                            <td>{{tr.operateType}}</td>
                                            <td>{{tr.operateTime | dateFilter}}</td>
                                            <td>
                                                {{tr.resultDescribe}}
                                                <!--<a href="javascript:;" ng-click="layerParam.seeMsg(tr.readStatus,tr.message)">
                                                    <span ng-class="{msgStatusReady:tr.readStatus==0,msgStatusSuccess:tr.readStatus==1,msgStatusFail:tr.readStatus==2}">{{tr.readStatus | msgStatusFilter}}</span>
                                                </a>
                                                <a href="{{tr.downloadUrl}}" ng-if="!!tr.downloadUrl">
                                                    <i class="ti ti-arrow-down"></i>
                                                </a>-->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="height: 30px;">
                                <pagination style="float: left; margin: 0 !important;" first-text="{{'paging.home'|translate}}" previous-text="{{'paging.previous'|translate}}" next-text="{{'paging.next'|translate}}" last-text="{{'paging.last'|translate}}" items-per-page="pageSize2"
                                            total-items="pageCounts2" ng-model="pageIndex2" max-size="maxSize2" class="pagination-sm"
                                            boundary-links="true" boundary-go="true" rotate="false" num-pages="totalPages2" ng-change="pageChanged2(null,null,pageIndex2)"></pagination>
                                <ul class="pagination" style="float: left; margin: 0 !important;">
                                    <li><input type="text" style="margin-left: 10px; float: left; width: 40px; border-radius: 4px !important;" ng-model="goPage2" ng-keydown="pageChanged2(goPage2,$event)" /></li>
                                    <li><a style="padding: 4px 10px;" ng-click="pageChanged2(goPage2)">GO</a></li>
                                    <li>
                                        <label style="float: left; border: none; margin-left: 5px; padding: 4px 10px; position: relative; line-height: 1.52857143; text-decoration: none; margin-bottom: 0px;">
                                            <span translate="paging.word1">第</span>{{pageIndex2}}<span translate="paging.word2">页</span>
                                            /
                                            <span translate="paging.word3">共</span>{{totalPages2}}<span translate="paging.word2">页</span>
                                            ，
                                            <span translate="paging.word4">总计</span>{{pageCounts2}}<span translate="paging.word5">条记录</span>
                                        </label>
                                    </li>
                                </ul>
                                <div style="clear: both; height: 10px;"></div>
                            </div>
                        </tab>
                        <tab class="font-content-middle" heading="{{'views.Layer.layerBro.information'|translate}}" ng-if="layerParam.uploadFileType!=2">
                            <div class="table-responsive" style="padding: 0 20px 10px 20px; max-height: 300px; overflow: auto;">
                                <div ng-style="tableWidth">
                                    <table class="th-tables table table-bordered font-content-small">
                                        <thead>
                                            <tr>
                                                <th ng-repeat="th in tablePageData[0]" ng-if="tableDataType=='array'">{{th}}</th>
                                                <th ng-repeat="(a,b) in tablePageData[0]" ng-if="tableDataType=='object'">{{a}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="tr in tablePageData[1]">
                                                <td ng-repeat="td in tr" ng-if="tableDataType=='array'">{{td|tdFilter}}</td>
                                                <td ng-repeat="(a,b) in tr" ng-if="tableDataType=='object'">{{b}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div style="height: 30px;">
                                <pagination style="float: left; margin: 0 !important;" first-text="{{'paging.home'|translate}}" previous-text="{{'paging.previous'|translate}}" next-text="{{'paging.next'|translate}}" last-text="{{'paging.last'|translate}}" items-per-page="pageSize"
                                            total-items="pageCounts" ng-model="pageIndex" max-size="maxSize" class="pagination-sm"
                                            boundary-links="true" boundary-go="true" rotate="false" num-pages="totalPages" ng-change="pageChanged(null,null,pageIndex)"></pagination>
                                <ul class="pagination" style="float: left; margin: 0 !important;">
                                    <li><input type="text" style="margin-left: 10px; float: left; width: 40px; border-radius: 4px !important;" ng-model="goPage" ng-keydown="pageChanged(goPage,$event)" /></li>
                                    <li><a style="padding: 4px 10px;" ng-click="pageChanged(goPage)">GO</a></li>
                                    <li>
                                        <label style="float: left; border: none; margin-left: 5px; padding: 4px 10px; position: relative; line-height: 1.52857143; text-decoration: none; margin-bottom: 0px;">
                                            <span translate="paging.word1">第</span>{{pageIndex}}<span translate="paging.word2">页</span>
                                            /
                                            <span translate="paging.word3">共</span>{{totalPages}}<span translate="paging.word2">页</span>
                                            ，
                                            <span translate="paging.word4">总计</span>{{pageCounts}}<span translate="paging.word5">条记录</span>
                                        </label>
                                    </li>
                                </ul>
                                <div style="clear: both; height: 10px;"></div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>

        <div class="righttag" style="top: 100px; left: 25px; z-index: 1000;" ng-show="currentData.pagetype==1">
            <div style="position: relative; background-color: #fff; width: 330px; ">
                <div class="title">
                    <span class="font-title-middle" translate="topbar.notification.import.layername">图层名称</span>
                </div>
                <div style="max-height: 400px; overflow: auto; padding: 10px;">
                    <ul class="font-content-small" style="list-style: none; padding: 0 0 0 10px; ">
                        <li style="margin-bottom: 5px;">
                            <p>{{layerParam.layerName}}</p>
                            <ul style="list-style: none; padding-left: 15px;">
                                <li>
                                    <div>
                                        <div ng-show="!!layerParam.styleId" style="padding: 7px 0;">
                                            <a href="javascript:;" ng-click="setStyle()">{{layerParam.styleName}}</a>
                                            <a href="javascript:;" ng-click="delStyle()" style="float: right; padding-right: 5px;" tooltip="{{'views.Style.deleteStyle'|translate}}" tooltip-append-to-body>
                                                <i class="mdi mdi-close" style="font-size: 18px"></i>
                                            </a>
                                            <a href="javascript:;" ng-click="editStyle()" style="padding-right: 5px; float: right;" tooltip="{{'views.Style.EditStyle'|translate}}">
                                                <i class="mdi mdi-pencil" style="font-size: 18px"></i>
                                            </a>
                                        </div>

                                        <span ng-show="!layerParam.styleId" class="btn btn-primary btn-o" ng-click="setStyle()" translate="views.Style.setStyle">设置样式</span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--map-edit-tool="true" map-edit-fun="mapEditFun"-->
        <open-maps dataset="mapDataset" map-tool-group map-search-tool="false" mapheight="mapheight" mapwidth="mapwidth" add-layer="addLayer" remove-layer="removeLayer" is-load-internet-tian-di-tu="isLoadTianDiTu"></open-maps>
    </div>

    <!-- 属性检查规则弹窗 -->
    <mic-ui-modal popwinmodal="layerParam" open-popwin-fun="openAttrCheck" template-url="attrCheck.html" submit-text="{{'setting.submit'|translate}}" cancel-text="{{'setting.cancel'|translate}}" backdrop="'static'" popwin-title="layerParam.title" size="lg" on-opened="layerParam.opened" on-submit="layerParam.submit" on-cancel="layerParam.cancel">
    </mic-ui-modal>
    <script type="text/ng-template" id="attrCheck.html">
        <!-- 表单内容 ---start--- -->
        <div class="form-group">
            <div style="position: relative;">
                <div style="padding: 0 10px 15px 10px;">
                    <div class="popwin-top" style="">
                        <div class="" style="margin-bottom: 10px;">
                            <div class="col-sm-6">
                                <div style="float:right; width: 100%;">
                                    <div class="col-sm-3">
                                        <label class="font-title-little" style="padding-top: 6px;"><span translate="views.Layer.create.name">图层名称</span><span class="symbol required"></span></label>
                                    </div>
                                    <div class="col-sm-9" style="padding-right: 14px; padding-left: 0;">
                                        <input type="text" style="width: 100%; height: 34px;" ng-model="popwinmodal.layerName" ng-disabled="true" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div style="float: right; padding-right: 10px; width: 100%;">
                                    <div class="col-sm-3">
                                        <label class="font-title-little" style="padding-top: 6px;"><span translate="views.Layer.create.type.MAIN">图层类型</span><span class="symbol required"></span></label>
                                    </div>
                                    <div class="col-sm-9" style="padding: 0;">
                                        <input type="text" ng-model="popwinmodal.dataTypeName" style="width: 100%;" ng-disabled="true" />
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="" style="margin-bottom: 10px;">
                            <div class="col-sm-6">
                                <div style="float: right; width: 100%;">
                                    <div class="col-sm-3">
                                        <label class="font-title-little" style="padding-top: 6px;"><span translate="views.Layer.create.sr">空间参考</span><span class="symbol required"></span></label>
                                    </div>
                                    <div class="col-sm-9" style="padding-right: 14px; padding-left: 0;">
                                        <input type="text" ng-model="popwinmodal.spatialRefData" style="width: 100%; height:34px;" readonly ng-disabled="true" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div style="float: right; padding-right: 10px; width: 100%;">
                                    <div class="col-sm-3">
                                        <label class="font-title-little" style="padding-top: 6px;"><span translate="setting.class.MAIN">分类</span><span class="symbol required"></span></label>
                                    </div>
                                    <div class="col-sm-9" style="padding: 0;">
                                        <input type="text" ng-model="popwinmodal.layerTypeName" style="width: 100%; height:34px;" readonly ng-disabled="true" />
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div style="margin-bottom: 20px;">
                            <div class="col-sm-12">
                                <div style="float: right; padding-right: 10px; padding-left: 0; width: 100%;">
                                    <div class="col-sm-1">
                                        <label class="font-title-little" style="padding-top: 6px;" translate="setting.tags.MAIN">标签</label>
                                    </div>
                                    <div class="col-sm-11" style="padding-left: 37px; ">
                                        <input type="text" ng-model="popwinmodal.tags" ng-disabled="true" style="height: 34px; width: 753px;" />
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        <div style="border-top: solid 1px rgba(0, 0, 0, 07);"></div>
                    </div>
                    <div class="popwin-body" style="">
                        <div style="padding: 0 10px 20px 10px;">
                        </div>
                        <div class="" style="overflow: auto;">
                            <div style="width: 100%;">
                                <mic-data-tables class="font-content-small" table-bordered tbody-height="200"
                                                 thead="{{'views.Layer.create.newField.fieldName'|translate}},{{'views.Layer.create.newField.datatype.MAIN'|translate}},{{'views.Layer.create.newField.length'|translate}},{{'views.Layer.create.newField.decimal'|translate}},{{'views.Layer.create.newField.description'|translate}}"
                                                 td-params="{'name':{'type':'span','isclick':false},'dataType':{'type':'span','isclick':false},'length':{'type':'span','isclick':false},'decimal':{'type':'span','isclick':false},'describe':{'type':'span','isclick':false}}"
                                                 datasets="popwinmodal.tmpTableData"
                                                 table-btn-html="[{'name':'属性检查规则','text':'','icon':'ti-pencil'}]" table-btn-params="popwinmodal.tabBtnParam1">
                                </mic-data-tables>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 表单内容 ---end--- -->
    </script>

    <!-- 字段属性浏览弹窗 -->
    <mic-ui-modal popwinmodal="tdParamModal" open-popwin-fun="openTdFun" template-url="tdManager.html" submit-text="{{tdParamModal.submitText}}" cancel-text="{{'setting.cancel'|translate}}" backdrop="'static'" popwin-title="tdParamModal.newTdTitle" size="lg" on-opened="tdParamModal.opened" on-submit="tdParamModal.submit" on-cancel="tdParamModal.cancel">
    </mic-ui-modal>
    <script type="text/ng-template" id="tdManager.html">
        <!-- 表单内容 ---start--- -->
        <div class="form-group">
            <div style="padding: 0 14px 121px 10px; ">
                <ul style="list-style: none; padding-left: 0;">
                    <li class="col-sm-4" style="text-align: right; padding-left: 0;">
                        <label class="font-title-little" style="vertical-align: top; margin-top: 8px;">
                            <span translate="views.Layer.create.newField.fieldName">字段名称</span><span class="symbol required"></span>
                        </label>
                        <text-box text-model="popwinmodal.firstname" text-length="10" text-not-allowed="popwinmodal.notAllowedString" text-readonly="true" required="true" style="display: inline-block; margin: 0px !important; text-align: left; width: 187px;"></text-box>
                    </li>
                    <li class="col-sm-4" style="text-align: right; margin-bottom: 23px; padding-left: 0;">
                        <label class="font-title-little" style="vertical-align: top; margin-top: 8px;">
                            <span translate="views.Layer.create.newField.datatype.MAIN">数据类型</span><span class="symbol required"></span>
                        </label>
                        <div style="display: inline-block; text-align: left;">
                            <ui-select class="ui-select-width" ng-model="popwinmodal.tdDataTypeSel.selected" on-select="popwinmodal.onSelDataType()" theme="select2" ng-disabled="true" style="width: 187px;">
                                <ui-select-match>{{$select.selected.codeName}}</ui-select-match>
                                <ui-select-choices class="ui-select-height" repeat="p in popwinmodal.tdDataTypeData| propsFilter: {codeName: $select.search}">
                                    <div ng-bind-html="p.codeName | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </li>
                    <li class="col-sm-4" style="text-align: right; padding-left: 0;">
                        <label class="font-title-little" style="vertical-align: top; margin-top: 8px;" translate="views.Layer.create.newField.length">长度</label>
                        <!--<num-box width="187" max-num="99999" min-num="0" precision="0" text-placeholder="" text-model="popwinmodal.length" style="display: inline-block; margin: 0; margin-bottom: 19px; text-align: left;" ng-if="!popwinmodal.readOnly1&&popwinmodal.newTdTitle!=='字段详细信息'"></num-box>-->
                        <text-box text-model="popwinmodal.length" text-readonly="true" style="display: inline-block; margin: 0; width: 187px; text-align: left;"></text-box>
                    </li>
                    <li class="col-sm-4" style="text-align: right; padding-left: 0;">
                        <label class="font-title-little" style="vertical-align: top; margin-top: 8px;" translate="views.Layer.create.newField.decimal">小数位</label>
                        <!--<num-box width="187" max-num="99999" min-num="0" precision="0" text-placeholder="" text-model="popwinmodal.precision" style="display: inline-block; margin: 0; margin-bottom: 19px; text-align: left;" ng-if="!popwinmodal.readOnly2&&popwinmodal.newTdTitle!=='字段详细信息'"></num-box>-->
                        <text-box text-model="popwinmodal.precision" text-readonly="true" style="display: inline-block; margin: 0; width: 187px; text-align: left;"></text-box>
                    </li>
                    <li class="col-sm-4" style="text-align: right; padding-left: 0;">
                        <label class="font-title-little" style="vertical-align: top; margin-top: 8px;" translate="views.Layer.create.newField.unit">单位</label>
                        <text-box text-model="popwinmodal.unit" text-readonly="popwinmodal.newTdTitle=='字段详细信息'||popwinmodal.newTdTitle=='Field field'" style="display: inline-block; margin: 0; width: 187px; text-align: left;"></text-box>
                    </li>
                    <li class="col-sm-4" style="text-align: right; padding-left: 0;">
                        <label class="font-title-little" style="vertical-align: top; margin-top: 8px;" translate="views.Layer.create.newField.default">缺省值</label>
                        <text-box text-model="popwinmodal.defaultVal" text-readonly="popwinmodal.newTdTitle=='字段详细信息'||popwinmodal.newTdTitle=='Field field'" style="display: inline-block; margin: 0; width: 187px; text-align: left;"></text-box>
                    </li>
                    <li class="col-sm-4" style="text-align: right; margin-bottom: 23px; padding-left: 0;">
                        <label class="font-title-little" style="vertical-align: top; margin-top: 8px;" translate="views.Layer.create.newField.control.MAIN">输入控制</label>
                        <div style="display: inline-block; text-align: left;">
                            <ui-select class="ui-select-width" ng-model="popwinmodal.tdInputCtrlSel.selected" on-select="popwinmodal.onSelInputCtrl()" ng-disabled="popwinmodal.newTdTitle=='字段详细信息'||popwinmodal.newTdTitle=='Field field'||popwinmodal.isTimeType" theme="select2" style="width: 187px;">
                                <ui-select-match>{{$select.selected.label}}</ui-select-match>
                                <ui-select-choices class="ui-select-height" repeat="p in popwinmodal.tdInputCtrlData| propsFilter: {label: $select.search}">
                                    <div ng-bind-html="p.label | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </li>
                    <li class="col-sm-4" style="text-align: right; padding-left: 0;">
                        <label class="font-title-little" style="vertical-align: top; margin-top: 8px;" translate="views.Layer.create.newField.max">值域上限</label>
                        <text-box text-model="popwinmodal.maxVal" text-readonly="popwinmodal.newTdTitle=='字段详细信息'||popwinmodal.newTdTitle=='Field field'||popwinmodal.readOnly3" style="display: inline-block; margin: 0; width: 187px; text-align: left;"></text-box>
                    </li>
                    <li class="col-sm-4" style="text-align: right; padding-left: 0;">
                        <label class="font-title-little" style="vertical-align: top; margin-top: 8px;" translate="views.Layer.create.newField.min">值域下限</label>
                        <text-box text-model="popwinmodal.minVal" text-readonly="popwinmodal.newTdTitle=='字段详细信息'||popwinmodal.newTdTitle=='Field field'||popwinmodal.readOnly3" style="display: inline-block; margin: 0; width: 187px; text-align: left;"></text-box>
                    </li>
                    <li class="col-sm-4" style="text-align: right; padding-left: 0; margin-bottom: 23px;">
                        <label class="font-title-little" style="vertical-align: top; margin-top: 8px;" translate="views.Layer.create.newField.code">数据分类代码</label>
                        <div style="display: inline-block; width: 187px;">
                            <div class="radio clip-radio radio-primary radio-inline" style="margin: 0 !important; padding-top: 5px;">
                                <input type="radio" id="datatypecode_1" name="datatypecode" value="F" ng-model="popwinmodal.dataTypeCode" ng-disabled="popwinmodal.newTdTitle=='字段详细信息'||popwinmodal.newTdTitle=='Field field'||popwinmodal.isTimeType" ng-change="popwinmodal.dataTypeCodeChange()">
                                <label for="datatypecode_1" style="margin-right: 5px;" translate="setting.no">
                                    否
                                </label>
                            </div>
                            <div class="radio clip-radio radio-primary radio-inline" style="margin: 0 !important; padding-top: 5px;">
                                <input type="radio" id="datatypecode_2" name="datatypecode" value="T" ng-model="popwinmodal.dataTypeCode" ng-disabled="popwinmodal.newTdTitle=='字段详细信息'||popwinmodal.newTdTitle=='Field field'||popwinmodal.isTimeType" ng-change="popwinmodal.dataTypeCodeChange()">
                                <label for="datatypecode_2" translate="setting.yes">
                                    是
                                </label>
                            </div>
                            <a class="btn btn-primary font-title-little" href="javascript:;" ng-click="popwinmodal.createDict(popwinmodal.dictData,1)" ng-disabled="popwinmodal.dataTypeCode!='T'" ng-if="popwinmodal.newTdTitle=='编辑字段'||popwinmodal.newTdTitle=='Edit field'" style="display: inline-block; text-align: left; margin-left: -13px;" translate="views.Layer.create.newField.newbtn1">创建字典项</a>
                            <a class="btn btn-primary font-title-little" href="javascript:;" ng-click="popwinmodal.createDict(popwinmodal.dictData,2)" ng-disabled="popwinmodal.dataTypeCode!='T'" ng-if="popwinmodal.newTdTitle=='字段详细信息'||popwinmodal.newTdTitle=='Field details'" style="display: inline-block; text-align: left; margin-left: -13px;" translate="views.Layer.create.newField.newbtn3">浏览字典项</a>
                        </div>
                    </li>
                    <li class="col-sm-4" style="text-align: right; margin-bottom: 23px; padding-left: 0;">
                        <label class="font-title-little" style="vertical-align: top; margin-top: 8px;" translate="views.Layer.create.newField.format.MAIN">输入格式</label>
                        <div style="display: inline-block; text-align: left;">
                            <ui-select class="ui-select-width" ng-model="popwinmodal.tdInputFormatSel.selected" on-select="popwinmodal.onSelInputFormat()" ng-disabled="popwinmodal.newTdTitle=='字段详细信息'||popwinmodal.newTdTitle=='Field details'||popwinmodal.isTimeType||popwinmodal.dataTypeCode!='T'" theme="select2" style="width: 187px;">
                                <ui-select-match>{{$select.selected.label}}</ui-select-match>
                                <ui-select-choices class="ui-select-height" repeat="p in popwinmodal.tdInputFormatData| propsFilter: {label: $select.search}">
                                    <div ng-bind-html="p.label | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </li>
                    <li class="col-sm-4" style="text-align: right; padding-left: 0; margin-bottom: 23px;">
                        <label class="font-title-little" style="vertical-align: top; margin-top: 8px;" translate="views.Layer.create.newField.null.MAIN">空值</label>
                        <div style="display: inline-block; text-align: left;">
                            <div class="radio clip-radio radio-primary radio-inline" style="margin: 0 !important; padding-top: 5px;">
                                <input type="radio" id="isnull_1" name="isnull" value="T" ng-model="popwinmodal.empty" ng-disabled="true" readonly="readonly">
                                <label for="isnull_1" translate="views.Layer.create.newField.null.allowed">
                                    允许为空
                                </label>
                            </div>
                            <div class="radio clip-radio radio-primary radio-inline" style="margin: 0 !important; padding-top: 5px;">
                                <input type="radio" id="isnull_2" name="isnull" value="F" ng-model="popwinmodal.empty" ng-disabled="true" readonly="readonly">
                                <label for="isnull_2" translate="views.Layer.create.newField.null.notAllowed">
                                    不能为空
                                </label>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4" style="text-align: right; padding-left: 0;">
                        <label class="font-title-little" style="vertical-align: top; margin-top: 8px;" translate="views.Layer.create.newField.connect">文字值连接代码</label>
                        <text-box text-model="popwinmodal.linkCode" text-readonly="popwinmodal.newTdTitle=='字段详细信息'||popwinmodal.newTdTitle=='Field field'||popwinmodal.isTimeType" style="display: inline-block; margin: 0; width: 187px; text-align: left;"></text-box>
                    </li>
                    <li class="col-sm-8" style="text-align: right; padding-left: 0;">
                        <label class="font-title-little" style="vertical-align: top; margin-top: 8px;" translate="views.Layer.create.newField.formula">计算公式</label>
                        <text-box text-model="popwinmodal.formula" text-readonly="true" ng-class="{'edit-formula':popwinmodal.newTdTitle!=='字段详细信息','see-formula':popwinmodal.newTdTitle=='字段详细信息'||popwinmodal.newTdTitle=='Field field'}" style="display: inline-block; margin: 0; margin-right: 16px; text-align: left;"></text-box>
                        <a class="btn btn-primary font-title-little" href="javascript:;" ng-click="popwinmodal.createCalComp()" ng-disabled="popwinmodal.isTimeType||!popwinmodal.firstname" ng-if="popwinmodal.newTdTitle!=='字段详细信息'" translate="views.Layer.create.newField.newbtn2" style="display: inline-block; text-align: left; vertical-align: top;">创建计算公式</a>
                    </li>
                    <li class="col-sm-4" style="text-align: right; padding-left: 0;">
                        <label class="font-title-little" style="vertical-align: top; margin-top: 8px;" translate="views.Layer.create.newField.source">数据源</label>
                        <text-box text-model="popwinmodal.dataSource" text-readonly="popwinmodal.newTdTitle=='字段详细信息'||popwinmodal.newTdTitle=='Field field'||popwinmodal.isTimeType" style="display: inline-block; margin: 0; width: 187px; text-align: left;"></text-box>
                    </li>
                    <li class="col-sm-8" style="text-align: right; padding-left: 0;">
                        <label class="font-title-little" style="vertical-align: top; margin-top: 8px;" translate="views.Layer.create.newField.description">说明</label>
                        <text-box text-model="popwinmodal.describe" text-readonly="popwinmodal.newTdTitle=='字段详细信息'||popwinmodal.newTdTitle=='Field field'||popwinmodal.isTimeType" style="display: inline-block; margin: 0; width: 478px; text-align: left;"></text-box>
                    </li>
                    <div style="clear: both;"></div>
                </ul>
            </div>
        </div>
        <!-- 表单内容 ---end--- -->
    </script>

    <!--字典项管理弹窗-->
    <mic-ui-modal popwinmodal="dictManagerModal" open-popwin-fun="openDictManager" template="dictManagerModal.html" backdrop="'static'" popwin-title="dictManagerModal.title" size="lg" resolve="" on-opened="dictManagerModal.dictManagerOpened" on-submit="dictManagerModal.submit" on-cancel="dictManagerModal.cancel">
    </mic-ui-modal>

    <!--公式字段弹窗-->
    <mic-ui-modal popwinmodal="calCompModel" open-popwin-fun="openCalCompFun" template-url="calComp.html" submit-text="{{'setting.submit'|translate}}" cancel-text="{{'setting.cancel'|translate}}" popwin-title="calCompModel.title" size="lg" win-class="calcomp-model-cls" on-opened="calCompModel.openCalComp" on-submit="calCompModel.calCompForm" on-cancel="calCompModel.cancelCalComp">
    </mic-ui-modal>
    <script type="text/ng-template" id="calComp.html">
        <!-- 表单内容 ---start--- -->
        <div class="form-group">
            <div style="padding: 0 20px;">
                <div class="col-sm-12" style="padding: 0; margin-bottom: 15px;">
                    <div class="col-sm-4" style="text-align: center; padding-left: 0;">
                        <span class="font-title-middle" translate="views.Layer.formulaWin.list">字段列表</span>
                        <div style="width: 100%; height: 211px; border: solid 1px rgba(236, 236, 236, 1); padding: 0 5px; margin-top: 7px; overflow: auto; ">
                            <table class="table-hover font-content-small" style="width: 100%;">
                                <tbody>
                                    <tr ng-repeat="tr in popwinmodal.fieldData" ng-click="popwinmodal.clickField(tr)" style="height: 25px; cursor: default;">
                                        <td>{{tr.value}}</td>
                                        <td>{{tr.type}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-4" style="padding-left: 16px; text-align: center;">
                        <div>
                            <span class="font-title-middle" translate="views.Layer.formulaWin.function.MAIN">计算函数</span>
                        </div>
                        <div>
                            <div class="radio clip-radio radio-primary radio-inline">
                                <input type="radio" id="calComp_rad1" name="calComp_rad" value="number" ng-model="popwinmodal.checkType" ng-change="popwinmodal.changeType(1)">
                                <label class="font-content-small" for="calComp_rad1" translate="views.Layer.formulaWin.function.digital">
                                    数字型
                                </label>
                            </div>
                            <div class="radio clip-radio radio-primary radio-inline">
                                <input type="radio" id="calComp_rad2" name="calComp_rad" value="string" ng-model="popwinmodal.checkType" ng-change="popwinmodal.changeType(2)">
                                <label class="font-content-small" for="calComp_rad2" translate="views.Layer.formulaWin.function.character">
                                    字符型
                                </label>
                            </div>
                        </div>
                        <div style="width: 100%; height: 171px; border: solid 1px rgba(236, 236, 236, 1); padding: 0 5px; overflow: auto; ">
                            <table class="table-hover font-content-small" style="width: 100%;">
                                <tbody>
                                    <tr ng-repeat="tr in popwinmodal.calFuncData" ng-click="popwinmodal.clickFunc(tr)" style="height: 25px; cursor: default;">
                                        <td>{{tr.label}}</td>
                                        <td>{{tr.remark}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-4" style="text-align: center; ">
                        <ul style="list-style: none; padding: 0; margin: 0;">
                            <li ng-click="popwinmodal.clickSymbol('7')">7</li>
                            <li ng-click="popwinmodal.clickSymbol('8')">8</li>
                            <li ng-click="popwinmodal.clickSymbol('9')">9</li>
                            <li ng-click="popwinmodal.clickSymbol('/')">/</li>
                            <li ng-click="popwinmodal.clickSymbol('%')" style="border-right: solid 1px #E1E1E1;">%</li>
                            <li ng-click="popwinmodal.clickSymbol('4')">4</li>
                            <li ng-click="popwinmodal.clickSymbol('5')">5</li>
                            <li ng-click="popwinmodal.clickSymbol('6')">6</li>
                            <li ng-click="popwinmodal.clickSymbol('*')">*</li>
                            <li ng-click="popwinmodal.clickSymbol('(')" style="border-right: solid 1px #E1E1E1;">(</li>
                            <li ng-click="popwinmodal.clickSymbol('1')">1</li>
                            <li ng-click="popwinmodal.clickSymbol('2')">2</li>
                            <li ng-click="popwinmodal.clickSymbol('3')">3</li>
                            <li ng-click="popwinmodal.clickSymbol('-')">-</li>
                            <li ng-click="popwinmodal.clickSymbol(')')" style="border-right: solid 1px #E1E1E1;">)</li>
                            <li ng-click="popwinmodal.clickSymbol('0')" style="border-bottom: solid 1px #E1E1E1;">0</li>
                            <li ng-click="popwinmodal.clickSymbol(',')" style="border-bottom: solid 1px #E1E1E1;">,</li>
                            <li ng-click="popwinmodal.clickSymbol('.')" style="border-bottom: solid 1px #E1E1E1;">.</li>
                            <li ng-click="popwinmodal.clickSymbol('+')" style="border-bottom: solid 1px #E1E1E1;">+</li>
                            <li ng-click="popwinmodal.clear()" style="border-right: solid 1px #E1E1E1; border-bottom: solid 1px #E1E1E1;" translate="views.Layer.formulaWin.clear">清空</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12" style="padding: 10px; margin-bottom: 40px; border: solid 1px rgba(27, 26, 26, 0.11);">
                    <div style="margin-bottom: 15px; margin-top: 5px;">
                        <div class="col-sm-4 font-content-btn" style="font-size: 20px;">
                            {{popwinmodal.fieldName}}
                            <label style="float: right;">=</label>
                        </div>
                        <div class="col-sm-8">
                            <textarea class="calcomp-content-textarea" ng-model="popwinmodal.calFormula" ng-change="popwinmodal.changeTextarea()" style="width: 100%; height: 100px;"></textarea>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div>
                        <div class="form-group" style="margin-bottom: 5px; margin-right: 0px;">
                            <a class="btn btn-wide btn-primary font-title-btn" style="min-width: 80px; float: right; margin-left: 0.5em;" ng-click="popwinmodal.check()" ng-disabled="popwinmodal.isDisabled" translate="views.Layer.formulaWin.verification">公式校验</a>
                            <!--<a class="btn btn-wide btn-o btn-default font-title-btn" style="float: right; min-width: 80px;" ng-click="popwinmodal.clear()">清空</a>-->
                        </div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
        <!-- 表单内容 ---end--- -->
    </script>

    <!--新增/编辑字典项弹窗-->
    <mic-ui-modal popwinmodal="createDictModel" open-popwin-fun="openCreateDictFun" template-url="createDict.html" submit-text="{{'setting.submit'|translate}}" cancel-text="{{'setting.cancel'|translate}}" popwin-title="createDictModel.title" size="" on-opened="createDictModel.openCreateDict" on-submit="createDictModel.createDictForm" on-cancel="createDictModel.cancelCreateDict">
    </mic-ui-modal>
    <script type="text/ng-template" id="createDict.html">
        <!-- 表单内容 ---start--- -->
        <div class="form-group">
            <div style="padding: 0 20px;">
                <div class="col-sm-12" style="padding: 0; margin-bottom: 15px;">
                    <label class="col-sm-3 font-title-little" style="padding-top: 8px; padding-left: 0;">
                        <span translate="views.Layer.dicWin.content">字典项内容</span><span class="symbol required"></span>
                    </label>
                    <input class="col-sm-9" type="text" ng-model="popwinmodal.text" style="height: 34px;" />
                </div>
                <div class="col-sm-12" style="padding: 0; margin-bottom: 15px;">
                    <label class="col-sm-3 font-title-little" style="padding-top: 8px; padding-left: 0;" translate="views.Layer.dicWin.description">字典项说明</label>
                    <textarea class="col-sm-9" ng-model="popwinmodal.remark"></textarea>
                </div>
            </div>
        </div>
        <!-- 表单内容 ---end--- -->
    </script>

    <!--属性检查结果弹窗-->
    <mic-ui-modal popwinmodal="attrCheckResModal" open-popwin-fun="openAttrCheckRes" template-url="attrCheckRes.html" cancel-text="{{'setting.cancel'|translate}}" backdrop="'static'" popwin-title="attrCheckResModal.title" size="lg" resolve="" on-opened="attrCheckResModal.open" on-submit="attrCheckResModal.submit" on-cancel="attrCheckResModal.cancel">
    </mic-ui-modal>
    <script type="text/ng-template" id="attrCheckRes.html">
        <!-- 表单内容 ---start--- -->
        <div class="form-group">
            <div style="padding: 0 20px;">
                <div class="col-sm-12" style="padding: 0;">
                    <table class="table table-bordered font-content-small">
                        <thead>
                            <tr>
                                <th translate="views.Layer.create.name">图层名称</th>
                                <th translate="views.Layer.layerBro.checkResult">检查结果</th>
                                <th style="width: 50%;" translate="views.Layer.layerBro.download">下载结果</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{popwinmodal.layerName}}</td>
                                <td><span ng-style="popwinmodal.checkResultStyle">{{popwinmodal.checkResult}}</span></td>
                                <td>
                                    <a href="{{popwinmodal.download}}" ng-if="!!popwinmodal.download">
                                        <span translate="views.Layer.layerBro.errorMsg">文件属性检查有异常，请下载检查结果查看详情</span><i class="mdi mdi-arrow-down"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12" style="padding: 0; margin-bottom: 10px;">
                    <fieldset style="">
                        <legend translate="views.Layer.layerBro.log">
                            检查日志
                        </legend>
                        <div class="layerbrowse-log" style="height: 300px; overflow: auto;">
                            <div ng-repeat="sentence in popwinmodal.log">
                                <p>{{sentence}}</p>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-12" style="padding: 0;">
                    <span translate="paging.word4">总共</span>{{popwinmodal.allnum}}<span translate="paging.word5">条数据。</span>
                    <div class="progress progress-xs margin-bottom-0">
                        <div class="progress-bar" role="progressbar" ng-style="popwinmodal.barStyle"></div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
        <!-- 表单内容 ---end--- -->
    </script>

    <!--'设置样式'-->
    <mic-ui-modal popwinmodal="styleModal" open-popwin-fun="opensStyleModal" template-url="setStyle.html" submit-text="{{'setting.submit'|translate}}" cancel-text="{{'setting.cancel'|translate}}" popwin-title="styleModal.title" size="lg" on-opened="styleModal.open" on-submit="styleModal.submit" on-cancel="styleModal.cancel">
    </mic-ui-modal>
    <script type="text/ng-template" id="setStyle.html">
        <div class="form-group" style="padding: 10px 20px; height: 551px;">
            <div class="col-sm-4" style="padding-left: 0; padding-right: 6px; max-height: 550px; overflow: auto;">
                <abn-tree class="font-title-btn" tree-data="popwinmodal.styleTypeTreeData" icon-leaf="" selected-data="popwinmodal.styleTypeSelected" on-select="popwinmodal.onStyleTypeSelected" tree-control="styleTypeTreeQueryCtrl" initial-selection="{{'views.Layer.Query.class.all'|translate}}"></abn-tree>
            </div>
            <div class="col-sm-8">
                <div style=" padding-left: 0; margin-bottom: 20px;">
                    <input type="text" ng-model="popwinmodal.searchStyleText" placeholder="{{'views.Style.SearchTips'|translate}}" style="width: 250px; height: 34px;" />
                    <a class="btn btn-wide btn-default btn-o font-title-little" href="javascript:;" style="min-width: 70px; margin-left: 10px; margin-top: -3px;" ng-click="popwinmodal.searchStyle()" translate="views.Layer.List.search">
                        搜索
                    </a>
                    <a class="btn btn-primary btn-o font-title-little" href="javascript:;" style="min-width: 70px; float: right;" ng-click="popwinmodal.addStyle()" translate="views.Style.NewStyle">
                        新增样式
                    </a>
                </div>
                <div>
                    <table class="table table-bordered table-hover table-stylemanag font-content-small">
                        <thead>
                            <tr>
                                <th style="width: 43px;"></th>
                                <th style="width: 47px;" translate="topbar.notification.serialnumber">序号</th>
                                <th translate="views.Style.Name">样式名称</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tr in popwinmodal.styleData">
                                <td>
                                    <input type="checkbox" ng-model="tr.checked" ng-change="popwinmodal.choiceTR(tr)" />
                                </td>
                                <td>{{$index+1}}</td>
                                <td>{{tr.styleName}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="height: 30px;">
                        <pagination style="float: left; margin: 0 !important;" first-text="{{'paging.home'|translate}}" previous-text="{{'paging.previous'|translate}}" next-text="{{'paging.next'|translate}}" last-text="{{'paging.last'|translate}}" items-per-page="popwinmodal.pageSize"
                                    total-items="popwinmodal.pageCounts" ng-model="popwinmodal.pageIndex" max-size="popwinmodal.maxSize" class="pagination-sm"
                                    boundary-links="true" boundary-go="true" rotate="false" num-pages="popwinmodal.totalPages" ng-change="popwinmodal.pageChanged()"></pagination>
                        <ul class="pagination" style="float: left; margin: 0 !important;">
                            <li><input type="text" style="margin-left: 10px; float: left; width: 40px; border-radius: 4px !important;" ng-model="popwinmodal.goPage" ng-keydown="popwinmodal.pageChanged(popwinmodal.goPage,$event)" /></li>
                            <li><a style="padding: 4px 10px;" ng-click="popwinmodal.pageChanged(popwinmodal.goPage)">GO</a></li>
                        </ul>
                        <div style="clear: both; height: 10px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>