@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wfrtzm');
  src:  url('fonts/icomoon.eot?wfrtzm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wfrtzm') format('truetype'),
    url('fonts/icomoon.woff?wfrtzm') format('woff'),
    url('fonts/icomoon.svg?wfrtzm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uniE904:before {
  content: "\e904";
}
.icon-1:before {
  content: "\e905";
}
.icon-3:before {
  content: "\e906";
}
.icon-4:before {
  content: "\e907";
}
.icon-5:before {
  content: "\e908";
}
.icon-6:before {
  content: "\e909";
}
.icon-7:before {
  content: "\e90a";
}
.icon-8:before {
  content: "\e90b";
}
.icon-9:before {
  content: "\e90c";
}
.icon-10:before {
  content: "\e90d";
}
.icon-2 .path1:before {
  content: "\e900";
  color: rgb(27, 27, 27);
}
.icon-2 .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-uniE902 .path1:before {
  content: "\e902";
  color: rgb(47, 196, 114);
}
.icon-uniE902 .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
